<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967340221725-a9vg0107l3uu9chrvmmgdojmm2cl9tpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967340221725-a9vg0107l3uu9chrvmmgdojmm2cl9tpg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>967340221725-0v70pv2mlibnrm07s2k6u8m53ebbq7k6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwea2CxCstAypFr8wHMmnI_A5D_hwInZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>967340221725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tStore</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-c2ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-c2ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967340221725:ios:750fab6e150cc9ceb7edf4</string>
</dict>
</plist>